body {
  background-color: antiquewhite;
  color:darkslategray;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 50px;
  margin-left: 50px;
}
button {
  text-align: center;
  padding: 5px 10px;
  background-color:snow;
  border: none;
  color: darkslategray;
  transition-duration: 0.2s;
}
button:hover {
  background-color:peru;
  color:snow;
}
select {
  text-align: center;
  padding: 5px 10px;
  background-color:snow;
  border: none;
  color: darkslategray;
}
input {
  padding: 5px 10px;
  background-color: snow;
  border: none;
  color: darkslategray;
}
.results {
  width: 100%;
  border-spacing: 0px;
}
.results_td {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}
.results_td:first-child {
  text-align: center;
  padding-left: 20px;
}
.results_tr:nth-child(even) {
  background-color:oldlace;
}
.hidden {
  visibility:hidden;
}
p.warning {
  color:firebrick;
  min-height: 20px;
  max-height: 20px;
  text-align: center;
}
p.notif {
  color:olivedrab;
  min-height: 20px;
  max-height: 20px;
  text-align: center;
}
.hanzi {
  font-family: FZKai;
  font-size: xxx-large;
}
.headerHanzi {
  font-family: FZKai;
  font-weight: normal;
  font-size: x-large;
  color:maroon;
}
@font-face {
  font-family: 'FZKai';
  src: url(./fonts/FZKai-Z03\ Regular.ttf);
}